<% layout("/layouts/boilerplate.ejs") -%>

    <div class="row">
        <% for(let notification of notifications) { %>
            <div class="card msgcard mb-3" style="width: 100%;">
                <!-- <div class="card-img-overlay"></div> -->
                <div class="card-body ">
                    <p class="card-text">
                        <b>
                            <%= notification.createdAt.toLocaleString() %> <br>
                            <%= notification.message %>
                        </b> <br>
                    </p>
                </div>
            </div>
            <% } %>
    </div>